* {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgba(255, 255, 255, 0.92);
  background: #000;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  line-height: 1.5;
}

a {
  background-color: transparent;
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

*::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.24);
}

*::-moz-placeholder {
  color: rgba(255, 255, 255, 0.24);
}

*:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.24);
}

*::placeholder {
  color: rgba(255, 255, 255, 0.24);
}

*,
*::before,
::after {
  border-color: rgba(255, 255, 255, 0.16);
  word-wrap: break-word;
}

#navbar {
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  max-width: 100vw;
  transform: translateY(0%) translateZ(0px);
  width: 100%;
}

#navbar nav {
  display: flex;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  justify-content: space-between;
  width: 85%;
  margin-inline: auto;
  padding-inline: 22px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: #000000;
  border-bottom: 0.5px solid rgb(30, 32, 41);
}

#navbar nav a {
  background-color: transparent;
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

#navbar nav a p {
  color: #ffffff;
  ;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: -3px;
}

#navbar nav a p span {
  color: rgb(143, 144, 148);
  font-weight: 600;
}

#menubar {
  margin-right: 1.75rem;
  ;
  color: #ffffff;
}

#menubar a {
  display: inline-flex;
  appearance: none;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  transition: 250ms;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  width: auto;
  line-height: 1.2;
  border-radius: 0.375rem;
  font-weight: 600;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 16px;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  color: rgba(255, 255, 255, 0.92);
  ;
  padding: 1rem;
}

#menubar a:hover {
  background: rgba(255, 255, 255, 0.08);
}

main {
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
  margin-inline: auto;
}

main section {
  display: flex;
  align-items: flex-start;
  -moz-box-pack: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 18vh;
  padding-bottom: 144px;
  width: 85%;
  margin-inline: auto;
  padding-inline: 22px;
}

.intro {
  display: flex;
  align-items: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.name {
  opacity: 1;
  transform: none;
}

.nameHeading {
  position: relative;
}

.nameImageBack {
  position: absolute;
  z-index: 0;
  top: -15px;
  left: -15px;
  width: 150px;
  filter: invert(0.1);
}

.nameHeadingText {
  position: relative;
  z-index: 1;
  color: #3ccf91;
  font-size: calc(1.5rem + ((1vw - 7.68px) * 1.3));
  font-weight: 600;
}

.name h2 {
  letter-spacing: -1.8px;
  font-weight: 700;
  font-size: calc(5rem + ((1vw - 7.68px) * 4.7));
  line-height: 95%;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.subtitle {
  transform: none;
  opacity: 1;
  margin-top: 2.4rem;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0px;
}

.subtitle h2 {
  line-height: 1.2;
  font-weight: 600;
  font-size: calc(1.5rem + ((1vw - 7.68px) * 1.1));
  color: #8f9094;
  letter-spacing: -1px;
  white-space: pre-wrap;
}

.subtitle h2 span {
  color: #ffffff;
  word-wrap: break-word;
}

.specializations {
  opacity: 1;
  transform: none;
  margin-top: 2rem;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0px;
}

.specializations p {
  color: #8f9094;
  font-size: calc(1rem + ((1vw - 7.68px) * 0.7));
}

.specializations p a {
  transition: 0.15s ease-out;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: rgb(60, 207, 145);
}

.socialButtonSection {
  opacity: 1;
  transform: none;
  margin-top: 2rem;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0px;
}

.socialButton {
  display: flex;
  flex-direction: row;
}

.socialButton a {
  transition: 0.15s ease-out;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: rgb(60, 207, 145);
}

.socialButton a button {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  transition: 250ms;
  user-select: none;
  position: static;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  width: auto;
  line-height: 1.2;
  border-radius: 0.375rem;
  font-weight: 600;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
}

.socialButton a button span {
  display: inline-flex;
  align-self: center;
  flex-shrink: 0;
  margin-inline-end: 0.5rem;
}

.socialButton> :not(style)~ :not(style) {
  margin-inline-start: 16px;
}

.socialButton a button:hover {
  background: rgba(255, 255, 255, 0.16);
}

/*
----------------SKILLS goes here---------------------
*/
#skills {
  max-width: 100vw;
  transform: translateY(0%) translateZ(0px);
  width: 100%;
}

.container {
  width: 85%;
  margin-inline: auto;
  padding-inline: 22px;
  padding-bottom: 144px;
}

.sectionHeading {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: calc(2rem + ((1vw - 7.68px) * 6));
  font-weight: 600;
}

.language {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.language h3 {
  font-size: calc(1rem + ((1vw - 7.68px) * 2));
  margin-inline-end: 1rem;
  width: calc(2rem + ((1vw - 7.68px) * 20));
}

.language div {
  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

#experience {
  max-width: 100vw;
  transform: translateY(0%) translateZ(0px);
  width: 100%;
}

.experienceSingle {
  padding: 30px 0px;
}

.experienceSingle h3 {
  z-index: 1;
  position: relative;
  font-size: calc(1rem + ((1vw - 7.68px) * 2));

}

.experienceSingle h3 span {
  color: rgb(60, 207, 145);
}

.experienceDescription {
  margin-top: 15px;

}

.experienceDescription a {
  margin-top: 15px;
  color: #3ccf91;
}

.experienceDescription ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  color: #8f9094;
}

.experienceDescription ul li {
  position: relative;
  padding-left: 22px;
  margin-bottom: 8px;
}

.experienceDescription ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #3ccf91;
}


/* blog section */
#blogs {
  display: flex;
  align-items: flex-start;
  -moz-box-pack: center;
  justify-content: center;
  flex-direction: column;
}

.blogList {
  margin-top: 2rem;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0px;
  display: flex;
  flex-direction: column;
}

.singleBlog {
  display: flex;
  align-items: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 20px
}

.blogTimeline {
  width: 130px;
  text-align: right;
  color: #8f9094;
}

.small {
  font-size: 0.875rem;
}

.blogDetails {
  display: flex;
  flex-direction: column;
  padding-inline-start: 2.5rem;
  padding-inline-end: 2.5rem;
}

.blogTitle {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}

.blogInfo {
  font-size: 0.875rem;
  color: #8f9094;
}

.blogLink {
  color: #3ccf91;
}

.contact {
  margin-top: 10px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.contactTitle {
  opacity: 1;
  transform: none;
}

.contactTitle h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
}

.contactSubtitle {
  opacity: 1;
  transform: none;
}

.contactSubtitle p {
  color: #8f9094;
  font-size: 1rem;
  text-align: center;
}

.contactButton {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  padding-bottom: 144px;
}

/* Footer */
.footer {
  background-color: #121212;
  color: #ffffff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.footer-container p {
  font-size: 16px;
  margin: 0;
  line-height: 1.8;
  color: #8f9094;
}

.footer-container span {
  color: #3ccf91;
  font-weight: bold;
}

.loader {
  border: 3px solid #d3d3d3; 
  border-top: 3px solid #00d1b2;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.footer-container p:hover {
  color: #3ccf91;
  transition: color 0.3s ease;
}

#total-visits {
  font-size: 24px;
}
